:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris_oscuro: #666;
    --gris_medio: rgb(223, 223, 223);
    --gris_claro: #ebebeb;
    --verde: #39b54a;
    --blanco: #ffffff;
    --negro: #000000;
    --azul-boton_1: #0044aa;
    --azul_boton_2: #0022aa;
    --bordo_boton_1:  #cc1155;
    --bordo_boton_2:  #cc1156a4;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "roboto", sans-serif;
    background-color: var(--gris_claro);
    font-size: 12px;
    margin: 10px;
}

i {
    color: var(--negro);
}

/* header */

header {
    background-color: var(--amarillo);
    padding: 10px;
    font-weight: bold;
}

.logo_busqueda {
    display: flex;
}
.logo {
    width: 50%;
    padding: 2%;
}
.busqueda {
    display: flex;
    width: 50%;
    padding: 2%;
    justify-content: center;
    align-items: center;
}

#search {
    width: 90%;
    height: 50%;
    font-size: 12px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border: none;
    padding: 0px 2px;
}

.busqueda button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 50%;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border: none;
    background-color: var(--blanco);
}

.cuotas {
    margin-top: 10px;
    color: var(--negro);
    text-align: center;
}

.fas.fa-search {
    width: 80%;
}

.fas.fa-hand-holding-usd, .fas.fa-address-card, .fas.fa-sign-in-alt, .fas.fa-shopping-basket {
    color: var(--negro);
}

/* navegacion */

.hamburguesa {
    text-align: center;
    cursor: pointer;
}

.fas.fa-bars{
    height: 35px;
    width: 35px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    background-color: var(--azul-boton_1);
    padding: 7px;
    margin: 20px;
    color: var(--blanco);
}

.fas.fa-bars:hover {
    background-color: var(--azul_boton_2);
}

.menu {
    display: flex;
    flex-direction: column;
}

nav {
    padding-top: 20px;
    display: none; 
}

nav ul{
    padding-bottom: 20px;
}

nav ul li{  
    list-style-type: none;  
}

nav ul li a{
    text-decoration: none;
    color:#000;
    font-size:16px;
    padding-left: 20px;
    font-weight: bold;
}

.hamburguesa:hover nav {
    display: block;
}

/* banner */

.banner {
    margin: 10px 0px;
}

.banner .imagen {
    width: 100%;
}

/* main */

main {
/*     font-weight: bold; */
    background-color: var(--gris_claro);
    color: var(--negro);
    margin: 10px;
    vertical-align: middle;
}

.titulares {
    font-size: 20px;
    font-weight: bold;
}

.ultimaCompra, .ofertas {
    display: flex;
    flex-direction: column;
}

.articulo {
    background-color: var(--blanco);
    margin: 20px 10px;
    padding: 15px;
}

.articulo .imagen {
    width: 100%;
}

.articulo .linea_camion {
    display:flex;
    justify-content: flex-end;
    border-bottom: 1px solid var(--gris_claro);
    margin-bottom: 15px;
}

.articulo .camion {
    background-color: var(--blanco);
    border: 2px solid var(--verde);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 18px;
    right:18px;
    z-index: 1;
}

.articulo:hover .descripcion {
    display:block;
}

.articulo:hover .camion {
    transform: rotate(90deg);
    transition: 1s all;
}

.fas.fa-truck{
    color: var(--verde);
    font-size: 18px;
}

.articulo .importes {
    display: flex;
    flex-direction: row;
}

.articulo .importes .precio {
    font-size: 18px;
    font-weight: bold;
    width: 30%
}

.articulo .importes .descuento {
    font-size: 16px;
    font-weight: bold;
    color: var(--verde);
    width:70%;
}

.articulo .descripcion {
    font-size:16px;
    font-weight: normal;
    display:none;
}

/* footer */

footer {
    line-height: 30px;
    padding: 20px 5%;
    background-color: var(--blanco);
}

.pie {
    display:flex;
    flex-direction: column;
}

.fas.fa-credit-card, .fas.fa-gift, .fas.fa-user-shield {
    color: var(--celeste);
    font-size:24px; 
    align-self: center;
/*     align-self: center; */
}

.item {
    margin: 20px 0;   
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item .titulo {
    font-weight: bold;
    font-size:16px;
}

.item .descripcion {
    line-height: 15px;
    text-align: center;
}

footer .copyright {
    margin: 20px 0px;  
    font-weight: bold;
}

/* register */

.register {
    line-height: 30px;
    padding: 15px;
    margin: 10px;
}

.register_grupo {
    line-height: 60px;
    text-align: center;
    border-radius: 5px;
}

.register_item {
    border-radius:5px;
    border: 0px;
    height: 30px;
    width: 100%;
}

.register_boton {
    border-radius:5px;
    border: 0px;
    height: 35px;
    width: 100%;
    color: var(--blanco);
}

.register_item.fecha {
    background-color: var(--gris_medio);
}

.register_boton.enviar {
    background-color: var(--azul-boton_1);
}

.register_boton.enviar:hover {
    background-color: var(--azul_boton_2);
}

.register_boton.borrar {
    background-color: var(--bordo_boton_1);
}

.register_boton.borrar:hover {
    background-color: var(--bordo_boton_2);
}

.register_texto {
    font-weight: bold;
    font-size:15px;
}

/* .perfil {
    display: flex;
    flex-wrap: wrap;
}

.porcion {
    width: 50%;
}

.intereses {
    display: flex;
    flex-wrap: wrap;
} */

/*login */

.login {
    line-height: 30px;
    padding: 15px;
    margin: 10px;
}

.login_grupo {
    line-height: 60px;
    text-align: center;
    border-radius: 5px;
}

.login_item {
    border-radius:5px;
    border: 0px;
    height: 30px;
    width: 100%;
}

.login_boton {
    border-radius:5px;
    border: 0px;
    height: 35px;
    width: 100%;
    background-color: var(--azul-boton_1);
    color: var(--blanco);
}

.login_boton:hover {
    background-color: var(--azul_boton_2);
}

@media (min-width: 768px){
    .titulares {
        font-size: 30px;
    }
    .ultimaCompra, .ofertas {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .articulo {
        width: 47%;
    }
    .porcion {
        width: 20%;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        width:50%;
    }

    .menu {
        display: flex;
        flex-direction: row;
    }

    .menu_derecha {
        justify-content: flex-end;
    }

    .menu_izquierda {
        justify-content: flex-start;
    }

    .encabezado {
        display:flex;
        flex-direction: row;´
    }

    .logo_busqueda {
        width: 60%;
    }

    .cuotas {
        width: 40%;
        display: flex;
        padding: 2%;
        display:flex;
        justify-content: center;
        align-items: center;
    }

}

@media (min-width: 1024px){
    .titulares {
        font-size: 36px;
    }
    .ultimaCompra, .ofertas {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .articulo {
        width: 30%;
    }
    .porcion {
        width: 20%;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        width:50%;
    }

    .menu {
        display: flex;
        flex-direction: row;
    }

    .menu_derecha {
        justify-content: flex-end;
    }

    .menu_izquierda {
        justify-content: flex-start;
    }

    .pie {
        flex-direction: row;
    }

    .encabezado {
        display:flex;
        flex-direction: row;´
    }

    .logo_busqueda {
        width: 60%;
    }

    .cuotas {
        width: 40%;
        display: flex;
        padding: 2%;
        display:flex;
        justify-content: center;
        align-items: center;
    }

}